.span8.offset1
  %h1 Joystick

  %div.well
    %div#controls.left
      %table
        %tr
          %td
          %td 
            %a.btn.btn-danger R
          %td
        %tr
          %td
            %a.btn.btn-success E
          %td
          %td
            %a.btn.btn-success D 
        %tr


    %div.clear
