!!!
%html
  %head
    %title Controle do Arduino
    %link(rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="js/script.js")
  %body
    .container
      =yield
